In [1]:
from pyspark.sql import SparkSession, functions as F, types as T

In [6]:
# üîß Reset Spark - Fix for stopped SparkContext

# Stop any existing sessions
try:
    spark.stop()
except:
    pass

try:
    sc.stop()
except:
    pass

# Clear active context
from pyspark import SparkContext
try:
    SparkContext._active_spark_context = None
except:
    pass

# Create fresh SparkSession
from pyspark.sql import SparkSession

# Use local mode (most reliable)
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("spark-hw") \
    .getOrCreate()

print(f"‚úÖ Spark ready! Version: {spark.version}")

25/11/02 11:02:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/11/02 11:02:36 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

‚úÖ Spark ready! Version: 4.0.1

In [7]:
actor_df = spark.read.csv('../data/actor.csv', header=True, inferSchema=True)
address_df = spark.read.csv('../data/address.csv', header=True, inferSchema=True)
category_df = spark.read.csv('../data/category.csv', header=True, inferSchema=True)
city_df = spark.read.csv('../data/city.csv', header=True, inferSchema=True)
country_df = spark.read.csv('../data/country.csv', header=True, inferSchema=True)
customer_df = spark.read.csv('../data/customer.csv', header=True, inferSchema=True)
film_df = spark.read.csv('../data/film.csv', header=True, inferSchema=True)
film_actor_df = spark.read.csv('../data/film_actor.csv', header=True, inferSchema=True)
film_category_df = spark.read.csv('../data/film_category.csv', header=True, inferSchema=True)
inventory_df = spark.read.csv('../data/inventory.csv', header=True, inferSchema=True)
language_df = spark.read.csv('../data/language.csv', header=True, inferSchema=True)
payment_df = spark.read.csv('../data/payment.csv', header=True, inferSchema=True)
rental_df = spark.read.csv('../data/rental.csv', header=True, inferSchema=True)
staff_df = spark.read.csv('../data/staff.csv', header=True, inferSchema=True)
store_df = spark.read.csv('../data/store.csv', header=True, inferSchema=True)

# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ç–µ–º—É Spark SQL

–ó–∞–¥–∞—á—ñ –∑ –¥–æ–º–∞—à–Ω—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ SQL –ø–æ—Ç—Ä—ñ–±–Ω–æ —Ä–æ–∑–≤ º—è–∑–∞—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é Spark SQL DataFrame API.

- –î–∞–º–ø–∏ —Ç–∞–±–ª–∏—Ü—å –∑–Ω–∞—Ö–æ–¥—è—Ç—å—Å—è –≤ –ø–∞–ø—Ü—ñ `data`. –î–∞—Ç–∞—Ñ—Ä–µ–π–º–∏ —Ç–∞–±–ª–∏—Ü—å –≤–∂–µ —Å—Ç–≤–æ—Ä–µ–Ω—ñ –≤ –∫–ª—ñ—Ç–∏–Ω—Ü—ñ –≤–∏—â–µ.
- –ú–æ–∂–µ—Ç–µ —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ —Å—Ç—ñ–ª—å–∫–∏ –Ω–æ–≤–∏—Ö –∫–ª—ñ—Ç–∏–Ω–æ–∫, —Å–∫—ñ–ª—å–∫–∏ –≤–∞–º –Ω–µ–æ–±—Ö—ñ–¥–Ω–æ.
- –†–æ–∑–≤ º—è–∑–æ–∫ –∫–æ–∂–Ω–æ—ó –∑–∞–¥–∞—á—ñ –º–∞—î –±—É—Ç–∏ –≤—ñ–¥–æ–±—Ä–∞–∂–µ–Ω–∏–π –≤ —Å–∞–º–æ–º—É —Ñ–∞–π–ª—ñ (–≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –º–µ—Ç–æ–¥ `.show()`)
- –∫–æ–¥ –º–∞—î –±—É—Ç–∏ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–π —É –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ—Å—Ç—ñ —ñ–∑ –æ–¥–Ω–∏–º —ñ–∑ —Å—Ç–∏–ª–µ–º, –ø–æ–∫–∞–∑–∞–Ω–∏–º –ª–µ–∫—Ç–æ—Ä–æ–º –Ω–∞ –∑–∞–Ω—è—Ç—Ç—ñ 13.

**–£–≤–∞–≥–∞!**
–í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ –º–æ–≤—É –∑–∞–ø–∏—Ç—ñ–≤ SQL –±–µ–∑–ø–æ—Å–µ—Ä–µ–¥–Ω—å–æ –∑–∞–±–æ—Ä–æ–Ω—è—î—Ç—å—Å—è, –ø–æ—Ç—Ä—ñ–±–Ω–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ –≤–∏–∫–ª—é—á–Ω–æ DataFrame API!

1.
–í–∏–≤–µ—Å—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ñ—ñ–ª—å–º—ñ–≤ –≤ –∫–æ–∂–Ω—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.
–†–µ–∑—É–ª—å—Ç–∞—Ç –≤—ñ–¥—Å–æ—Ä—Ç—É–≤–∞—Ç–∏ –∑–∞ —Å–ø–∞–¥–∞–Ω–Ω—è–º.

In [9]:
from pyspark.sql import functions as F

# –ü—Ä–∏—î–¥–Ω—É—î–º–æ film_category –¥–æ category, —â–æ–± –æ—Ç—Ä–∏–º–∞—Ç–∏ –Ω–∞–∑–≤–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π
films_by_category = film_category_df \
    .join(category_df, "category_id", "inner") \
    .groupBy("category_id", "name") \
    .agg(F.count("film_id").alias("–∫—ñ–ª—å–∫—ñ—Å—Ç—å_—Ñ—ñ–ª—å–º—ñ–≤")) \
    .select("name", "–∫—ñ–ª—å–∫—ñ—Å—Ç—å_—Ñ—ñ–ª—å–º—ñ–≤") \
    .orderBy(F.col("–∫—ñ–ª—å–∫—ñ—Å—Ç—å_—Ñ—ñ–ª—å–º—ñ–≤").desc())

films_by_category.show(truncate=False)

======================================================================
–ö–Ü–õ–¨–ö–Ü–°–¢–¨ –§–Ü–õ–¨–ú–Ü–í –í –ö–û–ñ–ù–Ü–ô –ö–ê–¢–ï–ì–û–†–Ü–á
======================================================================
+-----------+-----------------+
|name       |–∫—ñ–ª—å–∫—ñ—Å—Ç—å_—Ñ—ñ–ª—å–º—ñ–≤|
+-----------+-----------------+
|Sports     |74               |
|Foreign    |73               |
|Family     |69               |
|Documentary|68               |
|Animation  |66               |
|Action     |64               |
|New        |63               |
|Drama      |62               |
|Sci-Fi     |61               |
|Games      |61               |
|Children   |60               |
|Comedy     |58               |
|Classics   |57               |
|Travel     |57               |
|Horror     |56               |
|Music      |51               |
+-----------+-----------------+

2. –í–∏–≤–µ—Å—Ç–∏ 10 –∞–∫—Ç–æ—Ä—ñ–≤, —á–∏—ó —Ñ—ñ–ª—å–º–∏ –±—Ä–∞–ª–∏ –Ω–∞ –ø—Ä–æ–∫–∞—Ç –Ω–∞–π–±—ñ–ª—å—à–µ.
–†–µ–∑—É–ª—å—Ç–∞—Ç –≤—ñ–¥—Å–æ—Ä—Ç—É–≤–∞—Ç–∏ –∑–∞ —Å–ø–∞–¥–∞–Ω–Ω—è–º.

In [10]:
top_actors_detailed = rental_df \
    .join(inventory_df, "inventory_id", "inner") \
    .join(film_df, "film_id", "inner") \
    .join(film_actor_df, "film_id", "inner") \
    .join(actor_df, "actor_id", "inner") \
    .groupBy("actor_id", "first_name", "last_name") \
    .agg(
        F.count("rental_id").alias("–∫—ñ–ª—å–∫—ñ—Å—Ç—å_–ø—Ä–æ–∫–∞—Ç—ñ–≤"),
        F.countDistinct("film_id").alias("–∫—ñ–ª—å–∫—ñ—Å—Ç—å_—Ä—ñ–∑–Ω–∏—Ö_—Ñ—ñ–ª—å–º—ñ–≤"),
        F.countDistinct("rental_id").alias("—É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö_–ø—Ä–æ–∫–∞—Ç—ñ–≤")
    ) \
    .select(
        F.concat("first_name", F.lit(" "), "last_name").alias("–∞–∫—Ç–æ—Ä"),
        "–∫—ñ–ª—å–∫—ñ—Å—Ç—å_–ø—Ä–æ–∫–∞—Ç—ñ–≤",
        "–∫—ñ–ª—å–∫—ñ—Å—Ç—å_—Ä—ñ–∑–Ω–∏—Ö_—Ñ—ñ–ª—å–º—ñ–≤"
    ) \
    .orderBy(F.col("–∫—ñ–ª—å–∫—ñ—Å—Ç—å_–ø—Ä–æ–∫–∞—Ç—ñ–≤").desc()) \
    .limit(10)

top_actors_detailed.show(truncate=False)

+------------------+------------------+------------------------+
|–∞–∫—Ç–æ—Ä             |–∫—ñ–ª—å–∫—ñ—Å—Ç—å_–ø—Ä–æ–∫–∞—Ç—ñ–≤|–∫—ñ–ª—å–∫—ñ—Å—Ç—å_—Ä—ñ–∑–Ω–∏—Ö_—Ñ—ñ–ª—å–º—ñ–≤|
+------------------+------------------+------------------------+
|GINA DEGENERES    |753               |42                      |
|MATTHEW CARREY    |678               |37                      |
|MARY KEITEL       |674               |40                      |
|ANGELA WITHERSPOON|654               |35                      |
|WALTER TORN       |640               |39                      |
|HENRY BERRY       |612               |35                      |
|JAYNE NOLTE       |611               |33                      |
|VAL BOLGER        |605               |35                      |
|SANDRA KILMER     |604               |36                      |
|SEAN GUINESS      |599               |33                      |
+------------------+------------------+------------------------+

3.
–í–∏–≤–µ—Å—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ñ—ñ–ª—å–º—ñ–≤, –Ω–∞ —è–∫—É –±—É–ª–æ –≤–∏—Ç—Ä–∞—á–µ–Ω–æ –Ω–∞–π–±—ñ–ª—å—à–µ –≥—Ä–æ—à–µ–π
–≤ –ø—Ä–æ–∫–∞—Ç—ñ

In [11]:
categories_by_revenue = payment_df \
    .join(rental_df, "rental_id", "inner") \
    .join(inventory_df, "inventory_id", "inner") \
    .join(film_df, "film_id", "inner") \
    .join(film_category_df, "film_id", "inner") \
    .join(category_df, "category_id", "inner") \
    .groupBy("category_id", "name") \
    .agg(F.sum("amount").alias("–∑–∞–≥–∞–ª—å–Ω–∞_—Å—É–º–∞")) \
    .select("name", F.round("–∑–∞–≥–∞–ª—å–Ω–∞_—Å—É–º–∞", 2).alias("–∑–∞–≥–∞–ª—å–Ω–∞_—Å—É–º–∞")) \
    .orderBy(F.col("–∑–∞–≥–∞–ª—å–Ω–∞_—Å—É–º–∞").desc())

categories_by_revenue.show(truncate=False)

+-----------+-------------+
|name       |–∑–∞–≥–∞–ª—å–Ω–∞_—Å—É–º–∞|
+-----------+-------------+
|Sports     |5314.21      |
|Sci-Fi     |4756.98      |
|Animation  |4656.3       |
|Drama      |4587.39      |
|Comedy     |4383.58      |
|Action     |4375.85      |
|New        |4361.57      |
|Games      |4281.33      |
|Foreign    |4270.67      |
|Family     |4226.07      |
|Documentary|4217.52      |
|Horror     |3722.54      |
|Children   |3655.55      |
|Classics   |3639.59      |
|Travel     |3549.64      |
|Music      |3417.72      |
+-----------+-------------+

4.
–í–∏–≤–µ—Å—Ç–∏ –Ω–∞–∑–≤–∏ —Ñ—ñ–ª—å–º—ñ–≤, —è–∫–∏—Ö –Ω–µ –º–∞—î –≤ inventory.

In [12]:
films_not_in_inventory_v2 = film_df \
    .join(inventory_df, "film_id", "left") \
    .filter(F.col("inventory_id").isNull()) \
    .select("film_id", "title", "release_year", "rating", "length") \
    .orderBy("title")

print(f"\n–ö—ñ–ª—å–∫—ñ—Å—Ç—å —Ñ—ñ–ª—å–º—ñ–≤: {films_not_in_inventory_v2.count()}")
films_not_in_inventory_v2.show(truncate=False)

–ö—ñ–ª—å–∫—ñ—Å—Ç—å —Ñ—ñ–ª—å–º—ñ–≤: 42
+-------+----------------------+------------+------+------+
|film_id|title                 |release_year|rating|length|
+-------+----------------------+------------+------+------+
|14     |ALICE FANTASIA        |2006        |NC-17 |94    |
|33     |APOLLO TEEN           |2006        |PG-13 |153   |
|36     |ARGONAUTS TOWN        |2006        |PG-13 |127   |
|38     |ARK RIDGEMONT         |2006        |NC-17 |68    |
|41     |ARSENIC INDEPENDENCE  |2006        |PG    |137   |
|87     |BOONDOCK BALLROOM     |2006        |NC-17 |76    |
|108    |BUTCH PANTHER         |2006        |PG-13 |67    |
|128    |CATCH AMISTAD         |2006        |G     |183   |
|144    |CHINATOWN GLADIATOR   |2006        |PG    |61    |
|148    |CHOCOLATE DUCK        |2006        |R     |132   |
|171    |COMMANDMENTS EXPRESS  |2006        |R     |59    |
|192    |CROSSING DIVORCE      |2006        |R     |50    |
|195    |CROWDS TELEMARK       |2006        |R     |112   |
|198    |CRYSTAL BREAKING      |2006        |NC-17 |184   |
|217    |DAZED PUNK            |2006        |G     |120   |
|221    |DELIVERANCE MULHOLLAND|2006        |R     |100   |
|318    |FIREHOUSE VIETNAM     |2006        |G     |103   |
|325    |FLOATS GARDEN         |2006        |PG-13 |145   |
|332    |FRANKENSTEIN STRANGER |2006        |NC-17 |159   |
|359    |GLADIATOR WESTWARD    |2006        |PG    |173   |
+-------+----------------------+------------+------+------+
only showing top 20 rows

5.
–í–∏–≤–µ—Å—Ç–∏ —Ç–æ–ø 3 –∞–∫—Ç–æ—Ä–∏, —è–∫—ñ –Ω–∞–π–±—ñ–ª—å—à–µ –∑ º—è–≤–ª—è–ª–∏—Å—å –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ñ—ñ–ª—å–º—ñ–≤ ‚ÄúChildren‚Äù

In [ ]:
# —Ç—É—Ç –º–∞—î –±—É—Ç–∏ —Ä–æ–∑–≤ º—è–∑–æ–∫ –∑–∞–¥–∞—á—ñ

Stop Spark session:

In [ ]:
spark.stop()